<div class="legend">
    <span>Less</span>
    <board-cell
        [colorIntensity]="-1"
        [options]="options"
        [disabled]="true">
    </board-cell>
    <board-cell
        [colorIntensity]="0"
        [options]="options"
        [disabled]="true">
    </board-cell>
    <board-cell
        [colorIntensity]="1"
        [options]="options"
        [disabled]="true">
    </board-cell>
    <board-cell
        [colorIntensity]="2"
        [options]="options"
        [disabled]="true">
    </board-cell>
    <board-cell
        [colorIntensity]="3"
        [options]="options"
        [disabled]="true">
    </board-cell>
    <span>More</span>
</div>