board-cell {
    margin: 0px 1px;
}

.cells-container {
    display: flex;
}

.legend-text{
    color: #57606A;
    font-size: 12px;
    height: 12px;
    line-height: 100%;
    margin: 0px 2px;
}

.legend {
    padding: 4px 16px;
    display: flex;
    float: right;
}