.board-column-container{
    padding-left: 1px;
    padding-right: 1px;
}

.horizontal-label {
    overflow-x: visible;
}

.label {
    font-size: 12px;
}

.cell-item{
    margin-top: 3px;
    margin-bottom: 3px;
}