.title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 160;
}

#overview, #installation, #usage{
    margin: 16px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#import-demo {
    max-width: 100%;
}

.contributions-container{
    display: inline-block;
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
    margin-bottom: 22px;
    margin-top: 46px;
    padding: 16px;
}

.example-header {
    margin-top: 22px;
}

code, pre {
    color: rgb(48, 161, 78);
    background-color: whitesmoke;
}