.title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 160;
}

#overview, #examples, #usage{
    margin: 16px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contributions-container{
    display: inline-block;
    margin-bottom: 22px;
}