<div class="title">
  <h2>{{ title }}</h2>
</div>
<div class="contributions-container">
  <app-github-board [profile]="'luizppa'" [token]="token"></app-github-board>
</div>
<div class="contributions-container">
  <app-github-board [profile]="'luizppa'" [token]="token" [options]="boardOptions1"></app-github-board>
</div>
<div class="contributions-container">
  <app-github-board [profile]="'luizppa'" [token]="token" [options]="boardOptions2"></app-github-board>
</div>
<div class="contributions-container">
  <app-github-board [profile]="'luizppa'" [token]="token" [options]="boardOptions3"></app-github-board>
</div>